@charset "UTF-8";
/* Подключение шрифта из папки */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway/raleway-v18-latin-700.eot");
  src: local(""), url("../fonts/raleway/raleway-v18-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway/raleway-v18-latin-700.woff2") format("woff2"), url("../fonts/raleway/raleway-v18-latin-700.woff") format("woff"), url("../fonts/raleway/raleway-v18-latin-700.ttf") format("truetype"), url("../fonts/raleway/raleway-v18-latin-700.svg#Raleway") format("svg");
}

.invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* Палитра цветов */
.acception, .join-circle, .grey-box, .overlay-text, .team-circle, .clients-box, .overlay-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inside-section .list, .filter .list, .projects .list {
  display: flex;
  flex-wrap: wrap;
}

/* Логотип шапки*/
.logo-head {
  color: #212121;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* Логотип футера */
.logo-foot {
  display: inline-block;
  margin-bottom: 20px;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

*,
::after,
::before {
  outline: 1px solid blueviolet;
}

/* Делаем картинки блочными */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Типография */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #212121;
  margin: 0;
  padding: 0;
}

/* Убрать подчёркивания у ссылок */
.link {
  text-decoration: none;
}

/* Убрать маркировку списков */
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Поинтер на кнопки */
.button {
  cursor: pointer;
}

/* Задаём ширину остовного контейнера */
.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/* Внутренние отступы секций */
.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

/* Стиль хэдера */
.header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.flex {
  display: flex;
  align-items: center;
}

.headnav {
  margin-left: 93px;
}

.headnav .li-item + .li-item {
  margin-left: 50px;
}

.headnav .link {
  color: #212121;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.headnav .li-item {
  position: relative;
}

.headnav .current::after {
  content: '';
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: -28.5px;
}

.contacts {
  margin-left: auto;
}

.contacts .li-item + .li-item {
  margin-left: 50px;
}

.contacts .link {
  color: #757575;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-icon {
  width: 16px;
  height: 16px;
  fill: currentColor;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.head-line {
  border-bottom: 1px solid #ececec;
}

/* Стили для шапки */
.headnav .link:hover,
.headnav .link:focus,
.contacts .link:hover,
.contacts .link:focus,
.headnav .current,
.address:hover,
.address:focus,
.info:hover,
.info:focus,
.logo-blue {
  color: #2196f3;
}

.contacts .link:hover .contacts-icon,
.contacts .link:focus .contacts-icon,
.close-button:hover .close-x,
.close-button:focus .close-x {
  fill: #2196f3;
}

/* Основные стили */
body {
  background-color: #ffffff;
  color: #757575;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Модальное окно */
.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.1);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  z-index: 99;
  transition: opacity 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: relative;
  width: 528px;
  height: 581px;
  padding: 40px;
  top: 50%;
  left: 50%;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-x {
  width: 11px;
  height: 11px;
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.fill-in {
  display: inline-flex;
  flex-direction: column;
}

.fill-in .button.modal-btn {
  margin-left: auto;
  margin-right: auto;
  padding-left: 56px;
  padding-right: 56px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.txtarea {
  width: 448px;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.txtarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.txtarea:focus {
  border-color: #2196f3;
}

.modal-heading {
  font-family: Roboto;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
  margin-top: 2px;
  margin-bottom: 2px;
}

.acception {
  text-align: center;
}

.chk-box {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
}

.chk-box:checked + .chk-icon {
  background-color: #2196f3;
  border-color: #2196f3;
  background-origin: border-box;
  background-image: url(../images/svg-icons/icon-check.svg);
  background-size: contain;
}

.chk-box:focus + .chk-icon {
  outline: 3px solid black;
}

.chk-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid #212121;
  border-radius: 2px;
  background-color: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.act-lbl {
  display: flex;
  align-items: center;
}

.lable-txt {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  margin-top: 10px;
}

.input-position {
  position: relative;
}

.input-box {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-box:focus + .field {
  fill: #2196f3;
}

.input-box:focus {
  border-color: #2196f3;
}

.field {
  position: absolute;
  width: 18px;
  height: 18px;
  fill: #212121;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hyperlink {
  margin-left: 5px;
}

/* Стили для подвала */
.footer-box {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.address {
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.info {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Стили для адреса в футере */
.foot-list {
  display: inline-block;
  font-style: normal;
  width: 231px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-box .li-item + .li-item {
  margin-top: 9px;
}

.join-title,
.subbmit-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
}

.join-list {
  display: flex;
}

.join-icons {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.join-circle {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Стилицация инпута в футере */
.subbmit-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  margin-right: 12px;
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
}

.subbmit .button.foot-btn {
  position: relative;
  margin-top: 0px;
  padding-right: 63px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.foot-btn:hover,
.button.foot-btn:focus {
  background-color: #2196f3;
}

.send-btn {
  position: absolute;
  top: 50%;
  right: 29px;
  transform: translateY(-50%);
  fill: #ffffff;
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

/* Стиль перевого заголовка в герое */
.hero h1 {
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Стили заголовков №2 */
.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Стиль заголовкам раздела особенности */
.features h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* Стили для первой страницы */
.hero {
  background-color: #c4c4c4;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  height: 600px;
  display: flex;
  align-items: center;
}

/* Стилизация кнопки в герое */
.hero .button,
.fill-in .button,
.subbmit .button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  margin-top: 30px;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  background-color: #2196f3;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
}

/* Стиль раздела особенности */
.features {
  padding-top: 60px;
}

@media screen and (min-width: 480px) {
  .features {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .features {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
  }
}

.features .li-item {
  width: 100%;
  max-width: 450px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 1200px) {
  .features .li-item {
    max-width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .features .li-item {
    max-width: 270px;
  }
}

@media screen and (min-width: 768px) {
  .features .list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .features .list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .features .li-item {
    width: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .features .li-item {
    width: calc((100% - 90px) / 4);
  }
}

@media screen and (min-width: 768px) {
  .features .li-item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features .li-item:not(:nth-child(4n)) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features .li-item:not(:nth-last-child(-n + 4)) {
    margin-bottom: 30px;
  }
}

.features p {
  margin-top: 10px;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .features p {
    margin-bottom: 0px;
  }
}

.grey-box {
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  border-radius: 4px;
}

/* Раздел чем мы занимаемся */
.inside-section {
  display: none;
}

@media screen and (min-width: 1200px) {
  .inside-section {
    display: block;
    margin-top: 94px;
    padding-bottom: 94px;
  }
}

.inside-section .li-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.inside-section .li-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.inside-section .li-item {
  position: relative;
}

.inside-section .link::before {
  content: '';
  display: inline-block;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
}

.overlay-text {
  position: absolute;
  bottom: 0;
  margin: 0;
  width: 100%;
  height: 70px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

/* Стили для раздела наша команда */
.team {
  background-color: #f5f4fa;
}

@media screen and (max-width: 767px) {
  .team img {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .team img {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .team .list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}

@media screen and (min-width: 1200px) {
  .team .list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}

.team .li-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .team .li-item {
    width: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .team .li-item {
    width: calc((100% - 90px) / 4);
  }
}

@media screen and (min-width: 768px) {
  .team .li-item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team .li-item:not(:nth-child(4n)) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team .li-item:not(:nth-last-child(-n + 4)) {
    margin-bottom: 30px;
  }
}

.team h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 30px;
}

.team p {
  color: #757575;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 10px;
  margin-bottom: 16px;
}

/* Ссылки на соц сети */
.sosial-icons {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-circle {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sosial-list {
  margin-bottom: 30px;
}

.list.sosial-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.sosial-list > li:not(:last-child),
.join-list > li:not(:last-child) {
  margin-right: 10px;
}

.media-link:hover .team-circle,
.media-link:focus .team-circle,
.media-link:hover .join-circle,
.media-link:focus .join-circle {
  background-color: #2196f3;
}

.media-link:hover .sosial-icons,
.media-link:focus .sosial-icons {
  fill: #ffffff;
}

/* Секция клиенты */
.clients .list {
  display: flex;
}

.clients-box {
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-link:hover .clients-box,
.customer-link:focus .clients-box {
  border: 1px solid #2196f3;
}

.clients li:not(:last-child) {
  margin-right: 30px;
}

.client-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-link:hover .client-icon,
.customer-link:focus .client-icon {
  fill: #2196f3;
}

/* Стили для списка кнопок фильтра */
.filter {
  margin-bottom: 50px;
}

.filter .button {
  display: inline-block;
  min-width: 73px;
  font-family: 'Roboto', sans-serif;
  color: #212121;
  background-color: #f5f4fa;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter .button:hover,
.filter .button:focus {
  color: #ffffff;
  background-color: #2196f3;
  border: none;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter .list {
  justify-content: center;
}

.filter .li-item + .li-item {
  margin-left: 8px;
}

/* Стили для секции проекты */
.projects h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 20px;
  margin-bottom: 4px;
}

.projects p {
  color: #757575;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 0px;
  margin-bottom: 20px;
}

.projects .li-item {
  width: calc((100% - 60px) / 3);
}

.projects-wrapping {
  border: 1px solid #eeeeee;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects .li-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.projects .li-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.projects .link:hover .projects-wrapping,
.projects .link:focus .projects-wrapping {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* Выезжающий текст */
.overlay-wrapping {
  position: relative;
  overflow: hidden;
}

.overlay-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects .link:hover .overlay-box,
.projects .link:focus .overlay-box {
  transform: translatey(0);
}

.projects .overlay {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin: 24px;
}
/*# sourceMappingURL=main.css.map */