/* Стиль раздела особенности */

.features {
  padding-top: 94px;

  .li-item {
    max-width: 270px;
  }

  .list {
    @extend %flex-wrap;
  }

  .li-item {
    width: calc((100% - 90px) / 4);
  }

  .li-item:not(:nth-child(4n)) {
    margin-right: 30px;
  }

  .li-item:not(:nth-last-child(-n + 4)) {
    margin-bottom: 30px;
  }
}

.features p,
.team p {
  margin-top: 10px;
  margin-bottom: 0px;
}

.grey-box {
  @extend %centered;
  width: 270px;
  height: 120px;
  background-color: $light-background;
  margin-bottom: 30px;
  border-radius: 4px;
}
