/* Выезжающий текст */
.overlay-wrapping {
  position: relative;
  overflow: hidden;
}

.overlay-box {
  @extend %centered;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $overlay-bkg;
  transform: translatey(100%);
  @include transition(transform);

  .projects .link:hover &,
  .projects .link:focus & {
    transform: translatey(0);
  }
}

.projects .overlay {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: $secondary-color;
  margin: 24px;
}
