*,
::after,
::before {
  // box-sizing: inherit;
  outline: 1px solid blueviolet;
}

/* Делаем картинки блочными */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Типография */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $heading-color;
  margin: 0;
  padding: 0;
}

/* Убрать подчёркивания у ссылок */
.link {
  text-decoration: none;
}

/* Убрать маркировку списков */
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Поинтер на кнопки */
.button {
  cursor: pointer;
}

/* Задаём ширину остовного контейнера */
.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $mobile) {
    width: 480px;
  }

  @media screen and (min-width: $tablet) {
    width: 768px;
  }

  @media screen and (min-width: $desktop) {
    width: 1200px;
  }
}

/* Внутренние отступы секций */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
