/* Стили для подвала */
.footer-box {
  background-color: $background;
  padding-top: 60px;
  padding-bottom: 60px;
}

.address {
  color: $secondary-color;

  @include transition(color);
}

.info {
  color: $footer-color;

  @include transition(color);
}

/* Стили для адреса в футере */
.foot-list {
  display: inline-block;
  font-style: normal;
  width: 231px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-box .li-item + .li-item {
  margin-top: 9px;
}

.join-title,
.subbmit-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $secondary-color;
  margin-bottom: 20px;
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
}

.join-list {
  display: flex;
}

.join-icons {
  width: 20px;
  height: 20px;
  fill: $secondary-color;
}

.join-circle {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: $join-sircle;
  @extend %centered;
  @include transition(background-color);
}

/* Стилицация инпута в футере */
.subbmit-input {
  width: 358px;
  height: 50px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;

  margin-right: 12px;
  padding-left: 16px;

  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  color: $footer-color;
}

.subbmit .button.foot-btn {
  position: relative;

  margin-top: 0px;
  padding-right: 63px;
  background-color: $join-sircle;
  @include transition(background-color);
}

.button.foot-btn:hover,
.button.foot-btn:focus {
  background-color: $active-color;
}

.send-btn {
  position: absolute;
  top: 50%;
  right: 29px;
  transform: translateY(-50%);

  fill: $secondary-color;
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
