/* Стили для первой страницы */
.for-mobile-nav {
  position: relative;
  overflow: hidden;
}

.hero {
  background-color: $hero-background;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  height: 400px;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;

  background-image: linear-gradient(to right, $img-overlay, $img-overlay),
    url('../images/mobile/header.jpg');

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, $img-overlay, $img-overlay),
      url('../images/mobile/header@2x.jpg');
  }

  @media screen and (min-width: 768px) {
    // max-width: 1600px;
    background-image: linear-gradient(to right, $img-overlay, $img-overlay),
      url('../images/tablet/header.jpg');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, $img-overlay, $img-overlay),
        url('../images/tablet/header@2x.jpg');
    }
  }

  @media screen and (min-width: 1200px) {
    height: 600px;
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, $img-overlay, $img-overlay),
      url('../images/desktop/header.jpg');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, $img-overlay, $img-overlay),
        url('../images/desktop/header@2x.jpg');
    }
  }
}

/* Стилизация кнопки в герое */
.hero .button,
.fill-in .button,
.subbmit .button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  margin-top: 30px;
  font-family: 'Roboto', sans-serif;
  color: $secondary-color;
  background-color: $active-color;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
}
