/* Стили для секции проекты */

.projects h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 20px;
  margin-bottom: 4px;
}

.projects img {
  @media screen and (max-width: $tablet-1) {
    margin-left: auto;
    margin-right: auto;
  }
}

.projects p {
  color: $main-color;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 0px;
  margin-bottom: 20px;
}

.projects .list {
  @media screen and (min-width: $tablet), (min-width: $desktop) {
    display: flex;
    flex-wrap: wrap;
  }
}

.projects .li-item {
  @media screen and (min-width: $tablet) {
    width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: $desktop) {
    width: calc((100% - 60px) / 3);
  }
}

.projects .li-item:not(:last-child) {
  @media screen and (max-width: $tablet-1) {
    margin-bottom: 30px;
  }
}

.projects-wrapping {
  border: 1px solid $light-line;

  @include transition(box-shadow);
}

.projects .li-item:not(:nth-child(2n)) {
  @media screen and (min-width: $tablet) and (max-width: $desktop-1) {
    margin-right: 30px;
  }
}

.projects .li-item:not(:nth-child(3n)) {
  @media screen and (min-width: $desktop) {
    margin-right: 30px;
  }
}

.projects .li-item:not(:nth-last-child(-n + 2)) {
  @media screen and (min-width: $tablet) and (max-width: $desktop-1) {
    margin-bottom: 30px;
  }
}

.projects .li-item:not(:nth-last-child(-n + 3)) {
  @media screen and (min-width: $desktop) {
    margin-bottom: 30px;
  }
}

.projects .link:hover .projects-wrapping,
.projects .link:focus .projects-wrapping {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
