/* Палитра цветов */
$main-color: #757575;
$heading-color: #212121;
$active-color: #2196f3;
$secondary-color: #ffffff;
$footer-color: rgba(255, 255, 255, 0.6);
$background: #2f303a;
$hero-background: #c4c4c4;
$light-background: #f5f4fa;
$line-header: #ececec;
$light-line: #eeeeee;
$img-overlay: rgba(47, 48, 58, 0.4);
$img-overlay-2: rgba(47, 48, 58, 0.8);
$sosial-icon: #afb1b8;
$join-sircle: rgba(255, 255, 255, 0.1);
$overlay-bkg: rgba(33, 150, 243, 0.9);
$bkg-drop: rgba(0, 0, 0, 0.2);
$black: #000000;
$plcholder: rgba(117, 117, 117, 0.5);

$cubic: cubic-bezier(0.4, 0, 0.2, 1);
$duration: 250ms;
